.clients {

  .container {
    border-top: 1px solid rgba(40, 101, 168, 0.29);
  }

  &__title {
    margin: 20px 50px;
  }

  &__lines {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;

    &:before,
    &:after {
      content: "";
      height: 100%;
      top: 0;
      width: 10%;
      position: absolute;
      z-index: 1;
      pointer-events: none;
    }

    &:before {
      left: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:after {
      right: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }

    @media(hover: hover) {
      &:hover .marquee {
        animation-play-state: paused;
      }
    }

  }

  &__logos {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;

    & > div {
      width: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(1, 112, 184, 0.22);
      border-radius: 30px;
      background: rgba(255, 255, 255, 1);
    }

  }


}

.marquee {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}