* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul,ol {
  list-style: none;
}

.phone {
  color: #107BF0;
  transition: $animation_speed;

  @media (hover: hover) {
    &:hover {
      color: #2865A8;
    }
  }
}

.mail {
  color: #202020;

  transition: $animation_speed;

  @media (hover: hover) {
    &:hover {
      color: #2865A8;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 12px;
}

.py {
  padding: 30px 0;
}

.my {
  margin: 30px 0;
}

.title {
  color: rgba(48, 48, 48, 1);
  font-size: 24px;
  font-weight: 600;
}